{% extends "Base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Avinya Construction Management - Delivering top-tier construction solutions with innovation and precision.">
    <meta name="keywords" content="construction, architecture, project management, Avinya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avinya Constructions | Contact</title>
</head>
<body>

    <!-- Breadcrumbs starts -->
    <div class="container-fluid breadcrumbs">
    <div class="row">
        <div class="col-md-12">
        <img src="{% static 'img/Breadcrums/contactus.jpg' %}" class="breadcrumbs-img" alt="">
        </div>
        <div class="breadcrumbs-text text-center col-lg-12">
        <h1 class="bread-title">Contact us</h1>
        </div>
    </div>
    </div>
    <!-- Breadcrums ends -->
    
    <!-- Display success messages -->
    {% if messages %}
    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container position-fixed top-0 end-0 p-3">
            {% for message in messages %}
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Notification</strong>
                        <small>Just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- Contact us -->
<div class="contactus">
    <div class="container">
        <div class="contact col-lg-12">
            <div class="row justify-content-center mt-5">
                <div class="col-md-3 info-box text-center">
                    <i class="fas fa-phone"></i>
                    <p>Call to ask any question</p>
                    <p>+1(512)216 4230</p>
                </div>
                <div class="col-md-3 info-box text-center">
                    <i class="fas fa-envelope"></i>
                    <p>Email to get free quote</p>
                    <p>avinya@avinyaconstructions.com</p>
                </div>
                <div class="col-md-3 info-box text-center">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Visit our office</p>
                    <p>1101 Satellite view, unit 204, round rock, Texas. 78665</p>
                </div>
            </div>
            <form method='POST' action="{% url 'contact' %}" autocomplete="off">
                {% csrf_token %}
            <div class="row justify-content-center mt-2">
                <div class="col-md-10 contact-forms">
                    <div class="row form-section justify-content-center">
                        <div class="col-md-5 mt-3">
                            <input type="text" name="Name" class="form-control" autocomplete="off" placeholder="Your Name">
                        </div>
                        <div class="col-md-5 mt-3">
                            <input type="tel" name="Number" class="form-control" autocomplete="off" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="row form-section justify-content-center">
                        <div class="col-md-10">
                            <input type="email" name="Email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row form-section justify-content-center">
                        <div class="col-md-10">
                            <textarea class="form-control" name="Message" rows="7" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row form-section justify-content-center mb-5">
                        <div class="col-md-12 text-center">
                            <button class="contact-readBtn">
                                <span>Send Message</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container-fluid">
        <div class="banner-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.4645246815576!2d-97.66791892635743!3d30.56442953777639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644d12506b6db0b%3A0x3b6c72dd938d3d80!2s1101%20Satellite%20View%2C%20Round%20Rock%2C%20TX%2078665%2C%20USA!5e0!3m2!1sen!2sin!4v1719742539940!5m2!1sen!2sin" width="" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

<!-- Contact us ends -->

</body>
{% endblock %}