{% extends "Base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Avinya Construction Management - Delivering top-tier construction solutions with innovation and precision.">
    <meta name="keywords" content="construction, architecture, project management, Avinya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avinya Constructions | Our Projects</title>
</head>
<body>
<!-- Breadcrumbs starts -->
<div class="container-fluid breadcrumbs">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/Breadcrums/projects.jpeg' %}" class="breadcrumbs-img" alt="Avinya Constructions">
        </div>
        <div class="breadcrumbs-text text-center col-lg-12">
            <h1 class="bread-title"><span>Our</span> Projects</h1>
        </div>
    </div>
</div>
<!-- Breadcrums ends -->
<div class="container image-grid">
    <div class="row">
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton.jpg' %}" alt="Image 1">
        </div>
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton01.jpg' %}" alt="Image 2">
        </div>
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton02.jpg' %}" alt="Image 3">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton03.jpg' %}" alt="Image 4">
        </div>
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton04.jpg' %}" alt="Image 5">
        </div>
        <div class="col-md-4 wow animate__animated animate__fadeInUp">
            <img src="{% static 'img/gallery/Hilton05.jpg' %}"  alt="Image 6">
        </div>
    </div>
</div>
<!-- Hyatt pics -->
</body>
{% endblock %}