{% load static %}
<!-- Topbar Start -->
    <div class="container-fluid topbar p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-3 topcontact">
                    <a class="text-body px-2" href="tel:+5122164230"><i class="fa fa-phone-alt text-primary me-2"></i>+512 216 4230</a>
                    <a class="text-body px-2" href="mailto:sanjai@avinyaconstructions.com"><i class="fa fa-envelope-open text-primary me-2"></i>avinya@avinyaconstructions.com</a>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-2 topcontact">
                    <a class="text-body px-2" href="">Terms</a>
                    <a class="text-body px-2" href="">Privacy</a>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square btn-outline-body me-1" href="https://www.facebook.com/share/hHHivUrN6gxDypFH/?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href="https://www.linkedin.com/in/avinya-construction-management-b21053324/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-0" href="https://www.instagram.com/avinya.constructions?igsh=MXMzOG8zOG5taWZ6Zg%3D%3D&utm_source=qr"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
<!-- Topbar End -->